<%- include header.ejs%>
<%- include home_nav.ejs%>

<script src="/xsadmin/js/bootstrap-editable.min.js"></script>

<div  id="dv_home" class="col-sm-9 col-md-10 col-md-offset-1 main" style="float: left;left:80px;">

</br>
    <label href="#" id="xname">xroot</label>
</div>
<script type="text/javascript">

    $.fn.editable.defaults.mode = 'inline';
    $('#xname').editable({
        type: 'text',
        pk: 1,
        url: '/xadmin/goods_change',
        title: 'Enter sysroot',
        success: function(response, newValue) {
            console.log(response);
            console.log(newValue);
            if(response.status == 'error') return response.msg; //msg will be shown in editable form
        }
    });

    $(document).ready(function() {
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'inline';

        /*
        //make username editable
        $('#username').editable();

        //make status editable
        $('#status').editable({
            type: 'select',
            title: 'Select status',
            placement: 'right',
            value: 2,
            source: [
                {value: 1, text: 'status 1'},
                {value: 2, text: 'status 2'},
                {value: 3, text: 'status 3'}
            ]
        });
        */
    });
</script>

<%- include home_footer.ejs%>
<%- include footer.ejs%>