<%- include header.ejs%>
<%- include home_nav.ejs%>
<script type="text/javascript">
    $(document).ready(function() {
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'popup';

        //make username editable
        $('#username').editable();

        //make status editable
        $('#status').editable({
            type: 'select',
            title: 'Select status',
            placement: 'right',
            value: 2,
            source: [
                {value: 1, text: 'status 1'},
                {value: 2, text: 'status 2'},
                {value: 3, text: 'status 3'}
            ]
            /*
             //uncomment these lines to send data on server
             ,pk: 1
             ,url: '/post'
             */
        });
    });
</script>
<div  id="dv_home" class="col-sm-9 col-md-10 col-md-offset-1 main" style="float: left;left:80px;">

    <div class="container">

        <h1>X-editable starter template</h1>

        <div>
            <span>Username:</span>
            <a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>
        </div>

        <div>
            <span>Status:</span>
            <a href="#" id="status"></a>
        </div>


    </div>


</div>

<%- include home_footer.ejs%>
<%- include footer.ejs%>