<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #808080;">
                <h4 class="modal-title" id="myModalLabel" style="color: #ffffff" >
                    更新及帮助指南
                </h4>
            </div>
            <div id="id_model_txt" class="modal-body">
            </div>
            <div class="modal-footer" style="background: #ffffff">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">欢迎进入，呈煌Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        账户
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/xlogin">退出</a></li>
                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#myModal" id="id_help">帮助</a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    $("#id_help").click(function(){
        $("#id_model_txt").html('2015-01-07 新增权限登陆控制</br>' +
                '2015-01-07 新增SessionDB</br>DB2015-01-09 修复新增账号时的上级指定');
    })
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar" style="width: 200px">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">商品管理</a></li>
                <li><a href="/xadmin/goods_query">查询</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">批次管理</a></li>
                <li><a href="/xadmin/batch_mgnt">管理我的批次</a></li>
                <li><a href="/xadmin/batch_upload">上传NFC_ID | 盒子</a></li>
                <li><a href="/xadmin/batch_upload_package">上传NFC_ID | 箱子</a></li>
                <li><a href="/xadmin/batch_task">后台任务</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">装箱与发货</a></li>
                <li><a href="/xadmin/pack_send" id="q3-1">查询</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">代理商</a></li>
                <li><a href="/xadmin/proxy_info" id="q3-1">资料更新</a></li>
            </ul>
        </div>