<%- include header%>
<%- include home_nav%>
        <div id="dv_home" class="col-sm-9 col-md-10 col-md-offset-1 main" style="float: left;left:80px;">
        Welcome
        </div>


<%- include home_footer%>
<%- include footer%>

