<%- include header.ejs%>
<%- include home_nav.ejs%>
<div class="col-sm-9 col-md-10 col-md-offset-1 main" style="float: left;left:80px;">

<form class="form-horizontal" role="form" method="post">
    <div class="form-group">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="acc_name"  name="acc_name" placeholder="请输入商品名称">
        </div>
        <div class="form-group" style="float: left">
            <div class="col-sm-3" >
                <button type="submit" class="btn btn-default" id="acc_btn" style="width:100px;font-family: 'Microsoft YaHei';font-weight:bold">查询</button>
            </div>
        </div>
    </div>

</div>
</form>









<%- include home_footer.ejs%>
<%- include footer.ejs%>