<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <Meta name="Robots" Content="None">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>泰坦翻译工具</title>
  <link href="http://websrc.llqianbao.com/css/bootstrap.min.css" rel="stylesheet">
  <link href="/msite/msite.css" rel="stylesheet">
  <script src="http://websrc.llqianbao.com/js/jquery.min.js"></script>
  <script src="http://websrc.llqianbao.com/js/bootstrap.min.js"></script>
</head>
<body id="idBody" style="background-color: whitesmoke">