<%- include header.ejs%>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixpad">
      <img src="/msite/home/gslogo.png" width="100%" />
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixpad btbg">
        一三一素系列
      </div>
  </div>
  <!--1314产品介绍-->
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <a href="/msite/dtl?prd=a1">
        <img src="/msite/home/a1.png" width="100%" height="100%" />
      </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <a href="/msite/dtl?prd=a2">
        <img src="/msite/home/a2.png" width="100%" height="100%" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=a1"><span class="label label-danger">点我购买</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=a2"><span class="label label-danger">点我购买</span></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <img src="/msite/home/a3.png" width="100%" height="100%" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <img src="/msite/home/a4.png" width="100%" height="100%" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=a3"><span class="label label-danger">点我购买</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=a4"><span class="label label-danger">点我购买</span></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <img src="/msite/home/a5.png" width="100%" height="100%" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <span class="label label-danger">点我购买</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fixpad btbg">
      米亚妮亚系列
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <img src="/msite/home/b1.png" width="100%" height="100%" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <img src="/msite/home/b2.png" width="100%" height="100%" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=b1"><span class="label label-danger">点我购买</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=b2"><span class="label label-danger">点我购买</span></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad prdunit">
      <img src="/msite/home/b3.png" width="100%" height="100%" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 fixpad" style="text-align: center">
      <a href="/msite/dtl?prd=b3"><span class="label label-danger">点我购买</span></a>
    </div>
  </div>


  </div>


<%- include ftail.ejs%>